
.box_feedback{
    height: 20vmax;
    display: flex;
    flex-direction: column;
}
#form{
    height: 70%;
    

}
#text_field{
    height: 12vmax;
}


@media screen and (max-width: 768px){

  
    .box_feedback{
        height: 20vmax;
        display: flex;
        flex-direction: column;
    }
    #form{
        height: 80%;
    }
    #text_field{
        height: 12vmax;
    }
    



}